# dependencias
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# producao
/build

# ambiente
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sistema
.DS_Store
*.pem
